/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico.ttf);
}

@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue.ttf);
}

body {
    font-family: HelveticaNeue;
    font-weight: normal;
}

h1 {
    font-size: 1.9375rem;
    font-family: Pacifico;
    font-weight: normal;
    margin: 0;
    color: #fff;
    z-index: 5;
}

h3 {
    font-size: 1.25rem;
    color: #4c5b66;
}

h4 {
    font-size: 0.875rem;
    color: #4C5B66;
}

p {
    font-size: 0.875rem;
    color: #8a8c8e;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

/* HEADER */
header {
    background: url(../img/header-background.png);
    background-size: cover;
}

.header-top {
    align-items: center;
    padding: 40px 0 60px 0;
}

.header-top nav {
    z-index: 2;
}

.header-top .nav-item {
    margin-right: 30px;
}

.header-top .nav-item:last-of-type {
    margin-right: 0;
}

.header-top .nav-item a {
    color: #fff;
    font-family: HelveticaNeue, arial;
    font-size: 0.9375rem;
}

.header-bottom {
    display: flex;
}

.header-bottom .intro {
    max-width: 470px;
    color: #fff;
    margin-top: 60px;
}

.header-bottom .intro h2 {
    font-size: 3rem;
}

.intro p {
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.header-bottom .intro p:last-of-type {
    margin-bottom: 50;
}

.request {
    display: flex;
}

.request .link, .request p {
    margin-top: 15px;
}

.request p {
    color: #fff;
    margin-right: 15px;
}

.request .link a {
    color: #fff;
    border-bottom: 1px solid #fff;
}
/* END HEADER */

/* SPONSOR-STROKE SECTION */
section.sponsor-stroke {
    background: #eeeeee;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #c3c3c3;
}

.sponsor-items {
    padding: 20px 0 15px  0;
    
}

.sponsor-item {
    display: flex;
    align-items: center;
}

.sponsor-item img {
    width: 80%;
}

.sponsor-item:last-of-type {
    margin-right: 0;
}
/* END SPONSOR-STROKE SECTION */


/* SERVICE SECTION */
section.service {
    margin: 90px 0;
}

.service-item {
    width: 30%;
    text-align: center;
}

.service-item h3 {
    margin: 25px 0 10px 0;
}

.service-item button {
    background: url(../img/icons/blue-btn.png) no-repeat;
    color: #fff;
    font-family: HelveticaNeue;
    font-size: 0.8125rem;
    border: none;
    padding: 12px 25px 10px 27px;
    margin-top: 30px;
}
/* END SERVICE SECTION */

/* PROJECTs SECTION */
.projects {
    margin-bottom: 90px;
}

.projects .container {
    position: relative;
}

img.loop-icon {
    float: left;
    margin-right: 5px;
}

.project-items {
    margin-top: 20px;
    flex-wrap: wrap;
}

.project-item {
    margin-right: 5px;
}

.project-item:last-of-type {
    margin-right: 0;
}

.arrow-navigation img {
    position: absolute;
    top: 50%;
    transition: 0.5s;
}

.arrow-navigation img:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.arrow-left {
    left: -63px;
}

.arrow-right {
    right: -63px;
}

/* END PROJECTS SECTION */

/* COMMUNITY SECTION */
section.community {
    margin-bottom: 60px;
}

.blog, .twitter {
    width: 48%;
}

.community .intro {
    display: flex;
}

.community .intro h3{
    margin-left: 5px;
}


.blog p, .twitter-items p {
    margin-bottom: 10px;
}

.blog p, .twitter-items p:last-of-type {
    margin-bottom: 0;
}

.blog a, .twitter-items a {
    color: #3c92d0;
    font-size: 0.875rem;
}

.blog-items {
    display: flex;
    flex-direction: column;
}

.blog-item {
    margin: 20px 0 25px 0;
}

.blog-item:last-of-type {
    margin-bottom: 20px;
}

.blog-item .img-container {
    width: 29.88%;
}

.blog-item .img-container img {
    width: 100%;
}

.blog-item .post-text {
    width: 63.7%;
}

.blog-item .post-text a {
    color: #3c92d0;
}

.twitter-item {
    margin: 20px 0 25px 0;
}

.twitter-item:last-of-type {
    margin-bottom: 20px;
}

/* END COMMUNTITY SECTION */

/* FOOTER */
footer .container {
    border-top: 1px solid #e8e8e8;
    padding: 20px 0;
}
/* END FOOTER */


/* Costumer helper classes */
.flex-sb {
    display: flex;
    justify-content: space-between;
}

.active {
background: -moz-linear-gradient(top, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,69,77,1)), color-stop(40%, rgba(58,69,77,1)), color-stop(100%, rgba(76,91,101,1)));
background: -webkit-linear-gradient(top, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
background: -o-linear-gradient(top, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
background: -ms-linear-gradient(top, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
background: linear-gradient(to bottom, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a454d', endColorstr='#4c5b65', GradientType=0 );
border-radius: 20px;
box-shadow: -1px -1px 1px black, 0px 1px 1px rgb(106, 131, 141);
}

.active a {
    margin: 5px 15px;
}

/*spans*/
span.light-txt {
    color: #dcdcdc;
}

span.date {
    color: #bcbcbc;
    font-size: 0.6875rem;
}

span.twitter-post {
    font-weight: bold;
    color: #4C5B66;
}

span.blue-txt {
    color: #3c92d0;
}
/*end spans*/


/*===== MEDIA QUERIES =========================*/
@media screen and (max-width: 1130px) {
    /* PROJECTS SECTION */
    section.projects {
        margin-bottom: 40px;
    }

    .projects .container {
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 20px;
    }

    .arrow-navigation {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .arrow-navigation img {
        position: static;
    }

    .arrow-navigation img:first-of-type {
        margin-right: 100px;
    }
    /* END PROJECTS SECTION */
}

@media screen and (max-width: 1000px) {
    /* HEADER */
    .header-top {
        justify-content: space-around;
    }

    .img-iphone {
        margin-left: 10px;
    }
    /* END HEADER */

    /* PAGE SPACE AROUND */
    .sponsor-items, .service-items, .project-items {
        justify-content: space-around;
    }
    /* END PAGE SPACE-AROUND*/

    /* PROJECTS SECTION */
    .project-item {
        width: 20%;
    }

    .project-item img {
        width: 100%;
    }
    /* END PROJECTS SECTION */

    /* COMMUNITY SECTION */
    .community .container {
        justify-content: space-around;
    }
    /* END COMMUNITY SECTION */

    /* FOOTER */
    footer .container {
        justify-content: space-around;
    }
    /* END FOOTER */
}


@media screen and (max-width: 900px) {
    /* HEADER */
    .header-top {
        padding-bottom: 10px;
    }

    .header-bottom {
        justify-content: center;
        padding-bottom: 30px;
    }

    .img-iphone {
        display: none;
    }

    .header-bottom .intro {
        margin-top: 30px;
        text-align: center;
    }

    /* END HEADER */
}

@media screen and (max-width: 870px) {
    /* HEADER */
    

    
    /* END HEADER */

    /* PROJECTS SECTION */
    .arrow-navigation img {
        width: 4%;
        height: 100%;
    }
    /* END PROJECTS SECTION */
}

@media screen and (max-width: 650px) {
    .container {
        padding: 0 10px;
    }

    /* SERVICE SECTION */
    section.service {
        margin: 40px 0;
    }

    .service-items {
        flex-direction: column;
        align-items: center
    }

    .service-item {
        width: 90%;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e8e8e8;
    }

    .service-item:last-of-type {
        margin-bottom: 0;
    }
    /* END SERVICE SECTION */

    /* COMMUNITY SECTION */
    .community .container {
        flex-direction: column;
        align-items: center;
    }

    .blog, .twitter {
        width: 90%;
    }

    .blog {
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    /* END COMMUNITY SECTION */
}

@media screen and (max-width: 550px) {
    /* FOOTER */
    footer .container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    footer p {
        margin-bottom: 20px;
    }
    /* END FOOTER*/
}

@media screen and (max-width: 480px) {
    .header-bottom .intro h2 {
        font-size: 1.8rem;
    }

    /* HEADER */
    .header-top {
        flex-direction: column;
    }

    .header-top h1 {
        align-self: center;
        margin-bottom: 30px;
    }

    .nav {
        flex-direction: column;
    }

    .nav-item {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .request {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* END HEADER */
}

@media screen and (max-width: 437px) {
    /* HEADER */
    .header-bottom .request p {
        margin-bottom: 0;
    }
    /* END HEADER */

    /* SPONSOR-STROKE SECTION */
    .sponsor-item img {
        width: 60%;
    }
    /* END SPONSOR-STROKE SECTION*/
}

/*===== END MEDIA QUERIES =========================*/








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
